<div class="text-start ps-5" style="margin: 120px;">
  <h3 style="font-weight: bold;">Letest Busineess Add</h3>
</div>
<div class="d-flex justify-content-center">
  <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <!-- card-1 start  here -->
        <div class="d-flex justify-content-around " style="width: 500px;">
          <!-- left images and deatils start here  -->
          <div>
            <img src="../../assets/slider-001.avif" width="240" height="190">
            <div class="d-flex justify-content-start mt-3">
              <span>
                <button class="border border-2 rounded rounded-pill">Web development</button>
              </span>
              <span>
                <button class="border border-2  ms-2 rounded rounded-pill">Traing</button>
              </span>
            </div>
            <div class="d-flex justify-content-start mt-2">
              <span>
                <button class="border border-2  rounded rounded-pill">Content Wirting</button>
              </span>
              <span>
                <button class="border border-2  ms-2 rounded rounded-pill">SEO</button>
              </span>
              <span>
                <button class="border border-2 ms-2  rounded rounded-pill">SMO</button>
              </span>
            </div>
          </div>
          <!-- left images and deatils end here  -->

          <!-- Right icons and deatils start here  -->
          <div>
            <div class="col text-start ">
              <div class="ms-4">
                <span class="bi bi-heart-fill row" style="color: #FF7529;"></span>
                <span class="bi bi-upload row mt-1" style="color: #FF7529;"></span>
                <span class="bi bi-star-fill row mt-1" style="color: #FF7529;"></span>
              </div>
              <h5 class="ms-3 mt-2" style="font-weight: bold;">
                Sowere Technologies And Innovation Pvt. Ltd
              </h5>
            </div>
            <!-- email and deatils  -->
            <div class="border border-1 p-1">
              <h6 style="font-weight: bold;" class="ms-3">Sahli Somani</h6>
              <p style="font-size: 14px;">
                <i class="bi bi-envelope-fill ms-3" style="color: #FF7529;"></i>
                sahil@sowere.in
              </p>

              <div class="d-flex">
                <i class="bi bi-geo-alt-fill ms-3" style="color: #FF7529;"></i>
                <p class="ms-2" style="font-size: 14px;">

                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore
                  et dolore at.
                </p>
              </div>


              <div class="text-end">
                <button class="btn text-white" style="background-color: #FF7529;">
                  View Contact Number
                </button>
              </div>

            </div>
            <!-- email and deatils  -->
          </div>
          <!-- Right icons and deatils end here  -->



        </div>
        <!-- card-1 end  here -->
      </div>
      <div class=" carousel-item" data-bs-interval="4000">
        <!-- card-1 start  here -->
        <div class="d-flex justify-content-around " style="width: 500px;">
          <!-- left images and deatils start here  -->
          <div>
            <img src="../../assets/slider-002.avif" width="240" height="190">
            <div class="d-flex justify-content-start mt-3">
              <span>
                <button class="border border-2 rounded rounded-pill">Web development</button>
              </span>
              <span>
                <button class="border border-2  ms-2 rounded rounded-pill">Traing</button>
              </span>
            </div>
            <div class="d-flex justify-content-start mt-2">
              <span>
                <button class="border border-2  rounded rounded-pill">Content Wirting</button>
              </span>
              <span>
                <button class="border border-2  ms-2 rounded rounded-pill">SEO</button>
              </span>
              <span>
                <button class="border border-2 ms-2  rounded rounded-pill">SMO</button>
              </span>
            </div>
          </div>
          <!-- left images and deatils end here  -->

          <!-- Right icons and deatils start here  -->
          <div>
            <div class="col text-start ">
              <div class="ms-4">
                <span class="bi bi-heart-fill row" style="color: #FF7529;"></span>
                <span class="bi bi-upload row mt-1" style="color: #FF7529;"></span>
                <span class="bi bi-star-fill row mt-1" style="color: #FF7529;"></span>
              </div>
              <h5 class="ms-3 mt-2" style="font-weight: bold;">
                Sowere Technologies And Innovation Pvt. Ltd
              </h5>
            </div>
            <!-- email and deatils  -->
            <div class="border border-1 p-1">
              <h6 style="font-weight: bold;" class="ms-3">Sahli Somani</h6>
              <p style="font-size: 14px;">
                <i class="bi bi-envelope-fill ms-3" style="color: #FF7529;"></i>
                sahil@sowere.in
              </p>

              <div class="d-flex">
                <i class="bi bi-geo-alt-fill ms-3" style="color: #FF7529;"></i>
                <p class="ms-2" style="font-size: 14px;">

                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore
                  et dolore at.
                </p>
              </div>


              <div class="text-end">
                <button class="btn text-white" style="background-color: #FF7529;">
                  View Contact Number
                </button>
              </div>

            </div>
            <!-- email and deatils  -->
          </div>
          <!-- Right icons and deatils end here  -->



        </div>
        <!-- card-1 end  here -->
      </div>

    </div>

  </div>

</div>
