<div class="text-start ps-5" style="margin: 120px;">
  <h2 style="font-weight: bold;">Letest Recommendetion</h2>
</div>



<div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <!-- card-1 start  here -->
      <div class="d-flex justify-content-center ">
        <div class="card shadow " style="width: 430px;">
          <img src="../../assets/pic-02-slider.jpg" class="card-img-top" width="415" height="180px" alt="N/A">
          <div class="card-body">
            <div class="d-flex justify-content-start">
              <div>
                <img src="../../assets/sm-pic-1.jpg" class="small-pic" width="100px" height="100px">
              </div>
              <div class="ms-5 mt-3">
                <h3>
                  Anil Sarda
                </h3>
                <p>
                  (Prena Export)
                </p>
              </div>


            </div>
            <!-- ===================== -->
            <div>
              <p class="mt-3" style="font-size: 12px;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore
                magna
              </p>
              <p class="text-end fs-5" style="color: #FF7529;">SOWERE...</p>
            </div>

          </div>

        </div>
      </div>
      <!-- card-1 end  here -->
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <!-- card-2 start  here -->
      <div class="d-flex justify-content-center">
        <div class="card shadow" style="width: 430px;">
          <img src="../../assets/office-01.avif" class="card-img-top" width="415" height="180px" alt="N/A">
          <div class="card-body">
            <div class="d-flex justify-content-start">
              <div>
                <img src="../../assets/sm-pic-2.jpg" class="small-pic" width="100px" height="100px">
              </div>
              <div class="ms-5 mt-3">
                <h3>
                  Keshav Sharda
                </h3>
                <p>
                  (Prena Export)
                </p>
                <span style="color: #FF7529;" class="d-flex justify-content-evenly">
                  <i class="bi bi bi-star-fill "></i>
                  <i class="bi bi bi-star-fill"></i>
                  <i class="bi bi bi-star-fill"></i>
                  <i class="bi bi bi-star-fill"></i>
                  <i class="bi bi bi-star-fill"></i>
                </span>

              </div>


            </div>
            <!-- ===================== -->
            <div>
              <p class="mt-3" style="font-size: 12px;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                dolore
                magna
              </p>
              <p class="text-end fs-5" style="color: #FF7529;">SOWERE...</p>
            </div>

          </div>

        </div>
      </div>
      <!-- card-2 end  here -->
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
