.brand{
  color: orangered;
  font-size: 40px;
}

.btn-header-1{
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  font-size: 20px;
}
.btn-header-1:hover{
  background-color: rgb(9, 68, 78)
}

.btn-header-2{
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  font-size: 16px;

}
.btn-header-2:hover{
  background-color:rgba(18, 130, 138, 0.966)

}
.btn-header-3{
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 16px;

}
.btn-header-3:hover{
  background-color: blueviolet;
}

/*header end*/

/*section start*/
#h-section{
  font-size: 50px;
  color: black;
  font-weight: bold;
}
.btn-images{
  border-radius: 100px;
}

#bold-text{
  color: #FF7529;
}
#section-input{
  border: none;
  background-color: #FF7529;
  font-size: 15px;
  border-radius: 10px;

}
.section-from{
  border: 1px solid #656565;
  border-radius: 20px;
}
.btn-img-border{
  border-color: #B4B4B4;
  border-radius: 25px;
  width:104px;
  height: 104px;
}
