<div class="container-fluid">

  <div class="ms-5 me-5">
    <div class="m-3  bg-white  shadow-sm  p-1  d-flex justify-content-between align-items-center ">
      <span class="brand"><i>Maheshwari</i></span>
      <span>
        <span class="pe-3">
          <button class="btn-header-1 border rounded-circle pe-3 ps-3" title="Help Text">?</button>
        </span>
        <span class="pe-3">
          <a routerLink="/home" class="btn-header-2 fs-4 border rounded-pill ps-3 pe-3"
            style="text-decoration: none;">Home</a>
        </span>
        <span class="pe-3">
          <button class="btn-header-3 border rounded-pill ps-2 pe-2">Sign In/up</button>
        </span>
      </span>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <form class="  w-50 section-from  p-2">
      <div class="input-group input-group-lg ">
        <i class="bi bi-briefcase-fill  btn-lg"></i>
        <input id="email" type="email" style="border: none;" class="form-control ms-3"
          placeholder="What do you want to get?">
        <button id="section-input" class="text-white ms-5 me-3">
          <span class="p-1">Find Solution</span>
        </button>
      </div>
    </form>
  </div>




  <div class="d-flex flex-wrap bg-light justify-content-around m-3 overflow-auto" style="height:500px">




    <div class="mt-4" *ngFor="let product of Products" style="width: 400px;">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image "></div>
          <mat-card-title style="height: 40px;">
            <p style="font-weight: 500;">{{product.title|titlecase}}</p>
          </mat-card-title>
          <mat-card-subtitle>
            <p class="pt-4">Price {{product.category|titlecase}}</p>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="text-center" [src]=product.image width="200px" height="200px" alt="N/A">
        <mat-card-content>
          <p>
            {{product.price|currency}}
          </p>
        </mat-card-content>

        <button (click)="openDialog(product)" mat-raised-button class="btn btn-outline-dark bg-dark text-white"
          color="warn">Click more
          details </button>

      </mat-card>

    </div>


  </div>